gpx.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.topografix.com/GPX/1/1" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start combine="choice">
    <a:documentation>GPX schema version 1.1 - For more information on GPX and this schema, visit http://www.topografix.com/gpx.asp

GPX uses the following conventions: all coordinates are relative to the WGS84 datum.  All measurements are in metric units.</a:documentation>
    <ref name="gpx"/>
  </start>
  <define name="gpx">
    <element name="gpx">
      <a:documentation>GPX is the root element in the XML file.</a:documentation>
      <ref name="gpxType"/>
    </element>
  </define>
  <define name="gpxType">
    <a:documentation>GPX documents contain a metadata header, followed by waypoints, routes, and tracks.  You can add your own elements
to the extensions section of the GPX document.</a:documentation>
    <optional>
      <element name="metadata">
        <a:documentation>Metadata about the file.</a:documentation>
        <ref name="metadataType"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="wpt">
        <a:documentation>A list of waypoints.</a:documentation>
        <ref name="wptType"/>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="rte">
        <a:documentation>A list of routes.</a:documentation>
        <ref name="rteType"/>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="trk">
        <a:documentation>A list of tracks.</a:documentation>
        <ref name="trkType"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="extensions">
        <a:documentation>You can add extend GPX by adding your own elements from another schema here.</a:documentation>
        <ref name="extensionsType"/>
      </element>
    </optional>
    <attribute name="version">
      <a:documentation>You must include the version number in your GPX document.</a:documentation>
      <data type="string"/>
    </attribute>
    <attribute name="creator">
      <a:documentation>You must include the name or URL of the software that created your GPX document.  This allows others to
inform the creator of a GPX instance document that fails to validate.</a:documentation>
      <data type="string"/>
    </attribute>
  </define>
  <define name="metadataType">
    <a:documentation>Information about the GPX file, author, and copyright restrictions goes in the metadata section.  Providing rich,
meaningful information about your GPX files allows others to search for and use your GPS data.

elements must appear in this order</a:documentation>
    <optional>
      <element name="name">
        <a:documentation>The name of the GPX file.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="desc">
        <a:documentation>A description of the contents of the GPX file.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="author">
        <a:documentation>The person or organization who created the GPX file.</a:documentation>
        <ref name="personType"/>
      </element>
    </optional>
    <optional>
      <element name="copyright">
        <a:documentation>Copyright and license information governing use of the file.</a:documentation>
        <ref name="copyrightType"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="link">
        <a:documentation>URLs associated with the location described in the file.</a:documentation>
        <ref name="linkType"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="time">
        <a:documentation>The creation date of the file.</a:documentation>
        <data type="dateTime"/>
      </element>
    </optional>
    <optional>
      <element name="keywords">
        <a:documentation>Keywords associated with the file.  Search engines or databases can use this information to classify the data.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="bounds">
        <a:documentation>Minimum and maximum coordinates which describe the extent of the coordinates in the file.</a:documentation>
        <ref name="boundsType"/>
      </element>
    </optional>
    <optional>
      <element name="extensions">
        <a:documentation>You can add extend GPX by adding your own elements from another schema here.</a:documentation>
        <ref name="extensionsType"/>
      </element>
    </optional>
  </define>
  <!-- elements must appear in this order -->
  <define name="wptType">
    <a:documentation>wpt represents a waypoint, point of interest, or named feature on a map.</a:documentation>
    <optional>
      <!-- Position info -->
      <element name="ele">
        <a:documentation>Elevation (in meters) of the point.</a:documentation>
        <data type="decimal"/>
      </element>
    </optional>
    <optional>
      <element name="time">
        <a:documentation>Creation/modification timestamp for element. Date and time in are in Univeral Coordinated Time (UTC), not local time! Conforms to ISO 8601 specification for date/time representation. Fractional seconds are allowed for millisecond timing in tracklogs.</a:documentation>
        <data type="dateTime"/>
      </element>
    </optional>
    <optional>
      <element name="magvar">
        <a:documentation>Magnetic variation (in degrees) at the point</a:documentation>
        <ref name="degreesType"/>
      </element>
    </optional>
    <optional>
      <element name="geoidheight">
        <a:documentation>Height (in meters) of geoid (mean sea level) above WGS84 earth ellipsoid.  As defined in NMEA GGA message.</a:documentation>
        <data type="decimal"/>
      </element>
    </optional>
    <optional>
      <!-- Description info -->
      <element name="name">
        <a:documentation>The GPS name of the waypoint. This field will be transferred to and from the GPS. GPX does not place restrictions on the length of this field or the characters contained in it. It is up to the receiving application to validate the field before sending it to the GPS.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="cmt">
        <a:documentation>GPS waypoint comment. Sent to GPS as comment.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="desc">
        <a:documentation>A text description of the element. Holds additional information about the element intended for the user, not the GPS.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="src">
        <a:documentation>Source of data. Included to give user some idea of reliability and accuracy of data.  "Garmin eTrex", "USGS quad Boston North", e.g.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="link">
        <a:documentation>Link to additional information about the waypoint.</a:documentation>
        <ref name="linkType"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="sym">
        <a:documentation>Text of GPS symbol name. For interchange with other programs, use the exact spelling of the symbol as displayed on the GPS.  If the GPS abbreviates words, spell them out.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="type">
        <a:documentation>Type (classification) of the waypoint.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <!-- Accuracy info -->
      <element name="fix">
        <a:documentation>Type of GPX fix."</a:documentation>
        <ref name="fixType"/>
      </element>
    </optional>
    <optional>
      <element name="sat">
        <a:documentation>Number of satellites used to calculate the GPX fix.</a:documentation>
        <data type="nonNegativeInteger"/>
      </element>
    </optional>
    <optional>
      <element name="hdop">
        <a:documentation>Horizontal dilution of precision.</a:documentation>
        <data type="decimal"/>
      </element>
    </optional>
    <optional>
      <element name="vdop">
        <a:documentation>Vertical dilution of precision.</a:documentation>
        <data type="decimal"/>
      </element>
    </optional>
    <optional>
      <element name="pdop">
        <a:documentation>Position dilution of precision.</a:documentation>
        <data type="decimal"/>
      </element>
    </optional>
    <optional>
      <element name="ageofdgpsdata">
        <a:documentation>Number of seconds since last DGPS update.</a:documentation>
        <data type="decimal"/>
      </element>
    </optional>
    <optional>
      <element name="dgpsid">
        <a:documentation>ID of DGPS station used in differential correction.</a:documentation>
        <ref name="dgpsStationType"/>
      </element>
    </optional>
    <optional>
      <element name="extensions">
        <a:documentation>You can add extend GPX by adding your own elements from another schema here.</a:documentation>
        <ref name="extensionsType"/>
      </element>
    </optional>
    <attribute name="lat">
      <a:documentation>The latitude of the point.  This is always in decimal degrees, and always in WGS84 datum.</a:documentation>
      <ref name="latitudeType"/>
    </attribute>
    <attribute name="lon">
      <a:documentation>The longitude of the point.  This is always in decimal degrees, and always in WGS84 datum.</a:documentation>
      <ref name="longitudeType"/>
    </attribute>
  </define>
  <define name="rteType">
    <a:documentation>rte represents route - an ordered list of waypoints representing a series of turn points leading to a destination.</a:documentation>
    <optional>
      <element name="name">
        <a:documentation>GPS name of route.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="cmt">
        <a:documentation>GPS comment for route.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="desc">
        <a:documentation>Text description of route for user.  Not sent to GPS.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="src">
        <a:documentation>Source of data. Included to give user some idea of reliability and accuracy of data.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="link">
        <a:documentation>Links to external information about the route.</a:documentation>
        <ref name="linkType"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="number">
        <a:documentation>GPS route number.</a:documentation>
        <data type="nonNegativeInteger"/>
      </element>
    </optional>
    <optional>
      <element name="type">
        <a:documentation>Type (classification) of route.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="extensions">
        <a:documentation>You can add extend GPX by adding your own elements from another schema here.</a:documentation>
        <ref name="extensionsType"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="rtept">
        <a:documentation>A list of route points.</a:documentation>
        <ref name="wptType"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="trkType">
    <a:documentation>trk represents a track - an ordered list of points describing a path.</a:documentation>
    <optional>
      <element name="name">
        <a:documentation>GPS name of track.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="cmt">
        <a:documentation>GPS comment for track.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="desc">
        <a:documentation>User description of track.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="src">
        <a:documentation>Source of data. Included to give user some idea of reliability and accuracy of data.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="link">
        <a:documentation>Links to external information about track.</a:documentation>
        <ref name="linkType"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="number">
        <a:documentation>GPS track number.</a:documentation>
        <data type="nonNegativeInteger"/>
      </element>
    </optional>
    <optional>
      <element name="type">
        <a:documentation>Type (classification) of track.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="extensions">
        <a:documentation>You can add extend GPX by adding your own elements from another schema here.</a:documentation>
        <ref name="extensionsType"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="trkseg">
        <a:documentation>A Track Segment holds a list of Track Points which are logically connected in order. To represent a single GPS track where GPS reception was lost, or the GPS receiver was turned off, start a new Track Segment for each continuous span of track data.</a:documentation>
        <ref name="trksegType"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="extensionsType">
    <a:documentation>You can add extend GPX by adding your own elements from another schema here.</a:documentation>
    <zeroOrMore>
      <element>
        <anyName/>
        <text/>
      </element>
    </zeroOrMore>
  </define>
  <define name="trksegType">
    <a:documentation>A Track Segment holds a list of Track Points which are logically connected in order. To represent a single GPS track where GPS reception was lost, or the GPS receiver was turned off, start a new Track Segment for each continuous span of track data.</a:documentation>
    <zeroOrMore>
      <!-- elements must appear in this order -->
      <element name="trkpt">
        <a:documentation>A Track Point holds the coordinates, elevation, timestamp, and metadata for a single point in a track.</a:documentation>
        <ref name="wptType"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="extensions">
        <a:documentation>You can add extend GPX by adding your own elements from another schema here.</a:documentation>
        <ref name="extensionsType"/>
      </element>
    </optional>
  </define>
  <define name="copyrightType">
    <a:documentation>Information about the copyright holder and any license governing use of this file.  By linking to an appropriate license,
you may place your data into the public domain or grant additional usage rights.</a:documentation>
    <optional>
      <!-- elements must appear in this order -->
      <element name="year">
        <a:documentation>Year of copyright.</a:documentation>
        <data type="gYear"/>
      </element>
    </optional>
    <optional>
      <element name="license">
        <a:documentation>Link to external file containing license text.</a:documentation>
        <data type="anyURI"/>
      </element>
    </optional>
    <attribute name="author">
      <a:documentation>Copyright holder (TopoSoft, Inc.)</a:documentation>
      <data type="string"/>
    </attribute>
  </define>
  <define name="linkType">
    <a:documentation>A link to an external resource (Web page, digital photo, video clip, etc) with additional information.</a:documentation>
    <optional>
      <!-- elements must appear in this order -->
      <element name="text">
        <a:documentation>Text of hyperlink.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="type">
        <a:documentation>Mime type of content (image/jpeg)</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <attribute name="href">
      <a:documentation>URL of hyperlink.</a:documentation>
      <data type="anyURI"/>
    </attribute>
  </define>
  <define name="emailType">
    <a:documentation>An email address.  Broken into two parts (id and domain) to help prevent email harvesting.</a:documentation>
    <attribute name="id">
      <a:documentation>id half of email address (billgates2004)</a:documentation>
      <data type="string"/>
    </attribute>
    <attribute name="domain">
      <a:documentation>domain half of email address (hotmail.com)</a:documentation>
      <data type="string"/>
    </attribute>
  </define>
  <define name="personType">
    <a:documentation>A person or organization.</a:documentation>
    <optional>
      <!-- elements must appear in this order -->
      <element name="name">
        <a:documentation>Name of person or organization.</a:documentation>
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="email">
        <a:documentation>Email address.</a:documentation>
        <ref name="emailType"/>
      </element>
    </optional>
    <optional>
      <element name="link">
        <a:documentation>Link to Web site or other external information about person.</a:documentation>
        <ref name="linkType"/>
      </element>
    </optional>
  </define>
  <define name="ptType">
    <a:documentation>A geographic point with optional elevation and time.  Available for use by other schemas.</a:documentation>
    <optional>
      <!-- elements must appear in this order -->
      <element name="ele">
        <a:documentation>The elevation (in meters) of the point.</a:documentation>
        <data type="decimal"/>
      </element>
    </optional>
    <optional>
      <element name="time">
        <a:documentation>The time that the point was recorded.</a:documentation>
        <data type="dateTime"/>
      </element>
    </optional>
    <attribute name="lat">
      <a:documentation>The latitude of the point.  Decimal degrees, WGS84 datum.</a:documentation>
      <ref name="latitudeType"/>
    </attribute>
    <attribute name="lon">
      <a:documentation>The latitude of the point.  Decimal degrees, WGS84 datum.</a:documentation>
      <ref name="longitudeType"/>
    </attribute>
  </define>
  <define name="ptsegType">
    <a:documentation>An ordered sequence of points.  (for polygons or polylines, e.g.)</a:documentation>
    <zeroOrMore>
      <!-- elements must appear in this order -->
      <element name="pt">
        <a:documentation>Ordered list of geographic points.</a:documentation>
        <ref name="ptType"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="boundsType">
    <a:documentation>Two lat/lon pairs defining the extent of an element.</a:documentation>
    <attribute name="minlat">
      <a:documentation> The minimum latitude. </a:documentation>
      <ref name="latitudeType"/>
    </attribute>
    <attribute name="minlon">
      <a:documentation>The minimum longitude. </a:documentation>
      <ref name="longitudeType"/>
    </attribute>
    <attribute name="maxlat">
      <a:documentation>The maximum latitude.</a:documentation>
      <ref name="latitudeType"/>
    </attribute>
    <attribute name="maxlon">
      <a:documentation>The maximum longitude.</a:documentation>
      <ref name="longitudeType"/>
    </attribute>
  </define>
  <define name="latitudeType">
    <a:documentation>The latitude of the point.  Decimal degrees, WGS84 datum.</a:documentation>
    <data type="decimal">
      <param name="minInclusive">-90.0</param>
      <param name="maxInclusive">90.0</param>
    </data>
  </define>
  <define name="longitudeType">
    <a:documentation>The longitude of the point.  Decimal degrees, WGS84 datum.</a:documentation>
    <data type="decimal">
      <param name="minInclusive">-180.0</param>
      <param name="maxExclusive">180.0</param>
    </data>
  </define>
  <define name="degreesType">
    <a:documentation>Used for bearing, heading, course.  Units are decimal degrees, true (not magnetic).</a:documentation>
    <data type="decimal">
      <param name="minInclusive">0.0</param>
      <param name="maxExclusive">360.0</param>
    </data>
  </define>
  <define name="fixType">
    <a:documentation>Type of GPS fix.  none means GPS had no fix.  To signify "the fix info is unknown, leave out fixType entirely. pps = military signal used</a:documentation>
    <choice>
      <value>none</value>
      <value>2d</value>
      <value>3d</value>
      <value>dgps</value>
      <value>pps</value>
    </choice>
  </define>
  <define name="dgpsStationType">
    <a:documentation>Represents a differential GPS station.</a:documentation>
    <data type="integer">
      <param name="minInclusive">0</param>
      <param name="maxInclusive">1023</param>
    </data>
  </define>
</grammar>
