gpx.rnc

default namespace = "http://www.topografix.com/GPX/1/1"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace rng = "http://relaxng.org/ns/structure/1.0"


## GPX schema version 1.1 - For more information on GPX and this schema, visit http://www.topografix.com/gpx.asp
##
## GPX uses the following conventions: all coordinates are relative to the WGS84 datum.  All measurements are in metric units.
start |= gpx
gpx =

  ## GPX is the root element in the XML file.
  element gpx { gpxType }

## GPX documents contain a metadata header, followed by waypoints, routes, and tracks.  You can add your own elements
## to the extensions section of the GPX document.
gpxType =

  ## Metadata about the file.
  element metadata { metadataType }?,

  ## A list of waypoints.
  element wpt { wptType }*,

  ## A list of routes.
  element rte { rteType }*,

  ## A list of tracks.
  element trk { trkType }*,

  ## You can add extend GPX by adding your own elements from another schema here.
  element extensions { extensionsType }?,

  ## You must include the version number in your GPX document.
  attribute version { xsd:string },

  ## You must include the name or URL of the software that created your GPX document.  This allows others to
  ## inform the creator of a GPX instance document that fails to validate.
  attribute creator { xsd:string }

## Information about the GPX file, author, and copyright restrictions goes in the metadata section.  Providing rich,
## meaningful information about your GPX files allows others to search for and use your GPS data.
##
## elements must appear in this order
metadataType =

  ## The name of the GPX file.
  element name { xsd:string }?,

  ## A description of the contents of the GPX file.
  element desc { xsd:string }?,

  ## The person or organization who created the GPX file.
  element author { personType }?,

  ## Copyright and license information governing use of the file.
  element copyright { copyrightType }?,

  ## URLs associated with the location described in the file.
  element link { linkType }*,

  ## The creation date of the file.
  element time { xsd:dateTime }?,

  ## Keywords associated with the file.  Search engines or databases can use this information to classify the data.
  element keywords { xsd:string }?,

  ## Minimum and maximum coordinates which describe the extent of the coordinates in the file.
  element bounds { boundsType }?,

  ## You can add extend GPX by adding your own elements from another schema here.
  element extensions { extensionsType }?
# elements must appear in this order

## wpt represents a waypoint, point of interest, or named feature on a map.
wptType =
  # Position info

  ## Elevation (in meters) of the point.
  element ele { xsd:decimal }?,

  ## Creation/modification timestamp for element. Date and time in are in Univeral Coordinated Time (UTC), not local time! Conforms to ISO 8601 specification for date/time representation. Fractional seconds are allowed for millisecond timing in tracklogs.
  element time { xsd:dateTime }?,

  ## Magnetic variation (in degrees) at the point
  element magvar { degreesType }?,

  ## Height (in meters) of geoid (mean sea level) above WGS84 earth ellipsoid.  As defined in NMEA GGA message.
  element geoidheight { xsd:decimal }?,
  # Description info

  ## The GPS name of the waypoint. This field will be transferred to and from the GPS. GPX does not place restrictions on the length of this field or the characters contained in it. It is up to the receiving application to validate the field before sending it to the GPS.
  element name { xsd:string }?,

  ## GPS waypoint comment. Sent to GPS as comment.
  element cmt { xsd:string }?,

  ## A text description of the element. Holds additional information about the element intended for the user, not the GPS.
  element desc { xsd:string }?,

  ## Source of data. Included to give user some idea of reliability and accuracy of data.  "Garmin eTrex", "USGS quad Boston North", e.g.
  element src { xsd:string }?,

  ## Link to additional information about the waypoint.
  element link { linkType }*,

  ## Text of GPS symbol name. For interchange with other programs, use the exact spelling of the symbol as displayed on the GPS.  If the GPS abbreviates words, spell them out.
  element sym { xsd:string }?,

  ## Type (classification) of the waypoint.
  element type { xsd:string }?,
  # Accuracy info

  ## Type of GPX fix."
  element fix { fixType }?,

  ## Number of satellites used to calculate the GPX fix.
  element sat { xsd:nonNegativeInteger }?,

  ## Horizontal dilution of precision.
  element hdop { xsd:decimal }?,

  ## Vertical dilution of precision.
  element vdop { xsd:decimal }?,

  ## Position dilution of precision.
  element pdop { xsd:decimal }?,

  ## Number of seconds since last DGPS update.
  element ageofdgpsdata { xsd:decimal }?,

  ## ID of DGPS station used in differential correction.
  element dgpsid { dgpsStationType }?,

  ## You can add extend GPX by adding your own elements from another schema here.
  element extensions { extensionsType }?,

  ## The latitude of the point.  This is always in decimal degrees, and always in WGS84 datum.
  attribute lat { latitudeType },

  ## The longitude of the point.  This is always in decimal degrees, and always in WGS84 datum.
  attribute lon { longitudeType }

## rte represents route - an ordered list of waypoints representing a series of turn points leading to a destination.
rteType =

  ## GPS name of route.
  element name { xsd:string }?,

  ## GPS comment for route.
  element cmt { xsd:string }?,

  ## Text description of route for user.  Not sent to GPS.
  element desc { xsd:string }?,

  ## Source of data. Included to give user some idea of reliability and accuracy of data.
  element src { xsd:string }?,

  ## Links to external information about the route.
  element link { linkType }*,

  ## GPS route number.
  element number { xsd:nonNegativeInteger }?,

  ## Type (classification) of route.
  element type { xsd:string }?,

  ## You can add extend GPX by adding your own elements from another schema here.
  element extensions { extensionsType }?,

  ## A list of route points.
  element rtept { wptType }*

## trk represents a track - an ordered list of points describing a path.
trkType =

  ## GPS name of track.
  element name { xsd:string }?,

  ## GPS comment for track.
  element cmt { xsd:string }?,

  ## User description of track.
  element desc { xsd:string }?,

  ## Source of data. Included to give user some idea of reliability and accuracy of data.
  element src { xsd:string }?,

  ## Links to external information about track.
  element link { linkType }*,

  ## GPS track number.
  element number { xsd:nonNegativeInteger }?,

  ## Type (classification) of track.
  element type { xsd:string }?,

  ## You can add extend GPX by adding your own elements from another schema here.
  element extensions { extensionsType }?,

  ## A Track Segment holds a list of Track Points which are logically connected in order. To represent a single GPS track where GPS reception was lost, or the GPS receiver was turned off, start a new Track Segment for each continuous span of track data.
  element trkseg { trksegType }*

## You can add extend GPX by adding your own elements from another schema here.
extensionsType = element * { text }*

## A Track Segment holds a list of Track Points which are logically connected in order. To represent a single GPS track where GPS reception was lost, or the GPS receiver was turned off, start a new Track Segment for each continuous span of track data.
trksegType =
  # elements must appear in this order

  ## A Track Point holds the coordinates, elevation, timestamp, and metadata for a single point in a track.
  element trkpt { wptType }*,

  ## You can add extend GPX by adding your own elements from another schema here.
  element extensions { extensionsType }?

## Information about the copyright holder and any license governing use of this file.  By linking to an appropriate license,
## you may place your data into the public domain or grant additional usage rights.
copyrightType =
  # elements must appear in this order

  ## Year of copyright.
  element year { xsd:gYear }?,

  ## Link to external file containing license text.
  element license { xsd:anyURI }?,

  ## Copyright holder (TopoSoft, Inc.)
  attribute author { xsd:string }

## A link to an external resource (Web page, digital photo, video clip, etc) with additional information.
linkType =
  # elements must appear in this order

  ## Text of hyperlink.
  element text { xsd:string }?,

  ## Mime type of content (image/jpeg)
  element type { xsd:string }?,

  ## URL of hyperlink.
  attribute href { xsd:anyURI }

## An email address.  Broken into two parts (id and domain) to help prevent email harvesting.
emailType =

  ## id half of email address (billgates2004)
  attribute id { xsd:string },

  ## domain half of email address (hotmail.com)
  attribute domain { xsd:string }

## A person or organization.
personType =
  # elements must appear in this order

  ## Name of person or organization.
  element name { xsd:string }?,

  ## Email address.
  element email { emailType }?,

  ## Link to Web site or other external information about person.
  element link { linkType }?

## A geographic point with optional elevation and time.  Available for use by other schemas.
ptType =
  # elements must appear in this order

  ## The elevation (in meters) of the point.
  element ele { xsd:decimal }?,

  ## The time that the point was recorded.
  element time { xsd:dateTime }?,

  ## The latitude of the point.  Decimal degrees, WGS84 datum.
  attribute lat { latitudeType },

  ## The latitude of the point.  Decimal degrees, WGS84 datum.
  attribute lon { longitudeType }

## An ordered sequence of points.  (for polygons or polylines, e.g.)
ptsegType =
  # elements must appear in this order

  ## Ordered list of geographic points.
  element pt { ptType }*

## Two lat/lon pairs defining the extent of an element.
boundsType =

  ##  The minimum latitude.
  attribute minlat { latitudeType },

  ## The minimum longitude.
  attribute minlon { longitudeType },

  ## The maximum latitude.
  attribute maxlat { latitudeType },

  ## The maximum longitude.
  attribute maxlon { longitudeType }

## The latitude of the point.  Decimal degrees, WGS84 datum.
latitudeType =
  xsd:decimal { minInclusive = "-90.0" maxInclusive = "90.0" }

## The longitude of the point.  Decimal degrees, WGS84 datum.
longitudeType =
  xsd:decimal { minInclusive = "-180.0" maxExclusive = "180.0" }

## Used for bearing, heading, course.  Units are decimal degrees, true (not magnetic).
degreesType =
  xsd:decimal { minInclusive = "0.0" maxExclusive = "360.0" }

## Type of GPS fix.  none means GPS had no fix.  To signify "the fix info is unknown, leave out fixType entirely. pps = military signal used
fixType = "none" | "2d" | "3d" | "dgps" | "pps"

## Represents a differential GPS station.
dgpsStationType =
  xsd:integer { minInclusive = "0" maxInclusive = "1023" }
